# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.idea/

/frontend/node_modules/
/frontend/pnp/
/frontend/pnp.js

/frontend/coverage/
/frontend/build/

/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*


/ms-core/HELP.md
/ms-core/target/
/ms-core/!.mvn/wrapper/maven-wrapper.jar
/ms-core/!**/src/main/**/target/
/ms-core/!**/src/test/**/target/

/ms-core/.apt_generated
/ms-core/.classpath
/ms-core/.factorypath
/ms-core/.project
/ms-core/.settings
/ms-core/.springBeans
/ms-core/.sts4-cache

/ms-core/.idea
/ms-core/*.iws
/ms-core/*.iml
/ms-core/*.ipr

/ms-core/nbproject/private/
/ms-core/nbbuild/
/ms-core/dist/
/ms-core/nbdist/
/ms-core/.nb-gradle/
/ms-core/build/
/ms-core/!**/src/main/**/build/
/ms-core/!**/src/test/**/build/

/ms-core/.vscode/

/ms-auth/HELP.md
/ms-auth/target/
/ms-auth/!.mvn/wrapper/maven-wrapper.jar
/ms-auth/!**/src/main/**/target/
/ms-auth/!**/src/test/**/target/

/ms-auth/.apt_generated
/ms-auth/.classpath
/ms-auth/.factorypath
/ms-auth/.project
/ms-auth/.settings
/ms-auth/.springBeans
/ms-auth/.sts4-cache

/ms-auth/.idea
/ms-auth/*.iws
/ms-auth/*.iml
/ms-auth/*.ipr

/ms-auth/nbproject/private/
/ms-auth/nbbuild/
/ms-auth/dist/
/ms-auth/nbdist/
/ms-auth/.nb-gradle/
/ms-auth/build/
/ms-auth/!**/src/main/**/build/
/ms-auth/!**/src/test/**/build/

/ms-auth/.vscode/