.main {
    margin: 25px 5% 0;
    display: inline-block;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #555555;
    border-radius: 15px;
}
.item {
    margin: 5px auto 0 auto;
    width: 500px;
    padding: 20px;
    color: #555555;
    height: auto;
    font-size: 16px;
}
.item:first-child {
    margin-top: 20px;
}
.btn {
    width: 300px;
    font-weight: bold;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 35%;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s all;
    color: #555555;
}
.btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #555555;
    transition: 0.3s all;
}
.formError {
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: 12px;
    font-weight: 700;
    color: red;
}
.formLabel {
    font-weight: 700;
    font-size: 16px;
}
.formField {
    margin-left: 20px;
    width: 250px;
    font-size: 16px;
    height: auto;
    outline: 0;
    color: #555555;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #e5e5e5;
}

.wrapper {
    display: flex;
}

.titleForm {
    display: block;
    margin-top: 15px;
    margin-left: 40%;
    font-weight: 700;
    font-size: 20px;
}
.msg {
    text-align: center;
    margin: 15px 0 0px 0;
    font-weight: 700;
    font-size: 14px;
}