.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f5f5f5;

}
.item {
    width: 700px;
    margin: 10px 0 0 20px;
    padding: 20px;
    background-color: #f5f5f5;
    color: #555555;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    height: auto;
    outline: 0;
    font-size: 16px;
}
.item:first-child {
    margin-top: 30px;
}

.btn {
    width: 300px;
    font-weight: bold;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 50px 35%;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s all;
    color: #555555;
}
.btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #555555;
    transition: 0.3s all;
}
